/* General Styles */
body {
  width: auto;
  font-family: "Roboto", sans-serif;
  color: black;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
  padding: 0;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h5 {
  padding: 10px 5%;
}

h6 {
  padding: 0;
  margin: 0;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 12px;
}

ul {
  list-style-type: none;
  color: black;
  padding: 0;
}

li {
  width: auto;
  margin: 20px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

/* Utility Classes */
.logo {
  width: 35px;
  height: 35px;
  padding-bottom: 0;
}

#blue-text {
  color: rgb(0, 191, 255);
}

.flex-logo {
  display: inline-block;
  margin: 0;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry,
.volunteer-entry {
  padding: 0 5%;
  margin-bottom: 15px;
}

.date-text,
.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  margin-right: 10px;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
  display: block;
}

#talents-h3 {
  color: #f5ae23;
  text-align: center;
}

.orange-text {
  color: #f5ae23;
}

.school {
  margin-top: 30px;
}

.orange {
  background-color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 20px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

.flex-talent,
.flex-language,
.flex-item {
  margin: 0;
  display: inline-block;
  text-align: center;
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

.biopic {
  float: right;
  padding: 10px;
  width: 300px;
  height: 400px;
  display: none;
}

img {
  width: 450px;
  height: 300px;
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

#role {
  color: orange;
}

#map {
  display: block;
  height: 400px;
  margin: 0 5%;
}

#mapDiv {
  height: 50px;
  width: 100%;
  padding-bottom: 5%;
}

/* Header Styles */
#header {
  background-color: #484848;
}

#langSelect {
  margin-right: auto;
  padding: 5px;
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }

  .biopic,
  .welcome-message,
  img,
  #mapDiv,
  #map {
    display: none;
  }
}

@media only screen and (min-width: 800px) {

  #skills-h3,
  .biopic {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .talentsClass {
    display: block;
  }
}